In [4]:
import langchain
from langchain_core.prompts import ChatPromptTemplate

In [32]:
template = '''
Based on the table schema below, write a sql query that would answer the user's question: {schema}
Question: {question}
SQL query
'''
prompt = ChatPromptTemplate.from_template(template)

In [33]:
prompt.format(schema="my schema", question = "how many user are there?")

"Human: \nBased on the table schema below, write a sql query that would answer the user's question: my schema\nQuestion: how many user are there?\nSQL query\n"

In [36]:
from langchain_community.utilities import SQLDatabase

In [37]:
db_user = "your_username"
db_password = "your_password"
db_host = "your_hostname"
db_name = "your_database_name"
db_uri = f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}"
# db_uri = "mysql+mysqlconnector://root:root@localhost:3306/atliq_tshirts"
db = SQLDatabase.from_uri(db_uri)

In [38]:
db.run("SELECT * FROM t_shirts limit 5")

"[(1, 'Nike', 'Red', 'M', 16, 50), (2, 'Adidas', 'Black', 'S', 31, 13), (3, 'Nike', 'White', 'M', 15, 12), (4, 'Nike', 'Blue', 'S', 18, 13), (5, 'Nike', 'Black', 'L', 35, 95)]"

In [46]:
def get_schema(_):
    return db.get_table_info()

In [48]:
get_schema(None)

"\nCREATE TABLE discounts (\n\tdiscount_id INTEGER NOT NULL AUTO_INCREMENT, \n\tt_shirt_id INTEGER NOT NULL, \n\tpct_discount DECIMAL(5, 2), \n\tPRIMARY KEY (discount_id), \n\tCONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id), \n\tCONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from discounts table:\ndiscount_id\tt_shirt_id\tpct_discount\n1\t1\t10.00\n2\t2\t15.00\n3\t3\t20.00\n*/\n\n\nCREATE TABLE t_shirts (\n\tt_shirt_id INTEGER NOT NULL AUTO_INCREMENT, \n\tbrand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL, \n\tcolor ENUM('Red','Blue','Black','White') NOT NULL, \n\tsize ENUM('XS','S','M','L','XL') NOT NULL, \n\tprice INTEGER, \n\tstock_quantity INTEGER NOT NULL, \n\tPRIMARY KEY (t_shirt_id), \n\tCONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from t_shirts table:\nt_shirt_id\tbrand\tcolor\tsize\tprice\tstock_quantity\n1\tNike\tRed\tM\t16\t50\n2\tAdidas\tBlack\tS\t31\t13\n3\tNike\tWhite\tM\t15\t12\n*/"

In [49]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough

In [50]:
from langchain_google_genai import GoogleGenerativeAI

In [51]:
api_key = "YOUR_API_KEY"
llm = GoogleGenerativeAI(model="models/text-bison-001", google_api_key=api_key)
# llm = genai.GenerativeModel('gemini-1.5-flash')

In [52]:
sql_chain = (
    RunnablePassthrough.assign(schema = get_schema)
    | prompt
    | llm.bind(stop = "\nSQL Result:")
    | StrOutputParser()
)

In [53]:
sql_chain.invoke({"question" : "how many small tshirts are there?"})

"SELECT count(*)\nFROM t_shirts\nWHERE size = 'S'"

In [54]:
template = '''
Based on the table schema below, question, sql query and sql response, write a natural language response:
{schema}

Question : {question}
Sql Query : {query}
SQL Response : {response}

'''

prompt = ChatPromptTemplate.from_template(template)

In [55]:
def run_query(query):
    return db.run(query)

In [56]:
run_query("SELECT Count(*) FROM atliq_tshirts.t_shirts WHERE size = 'M' ")

'[(13,)]'

In [59]:
full_chain =(
    RunnablePassthrough.assign(query = sql_chain).assign(
        schema = get_schema,
        response = lambda var: run_query(var['query'])
    )
    | prompt
    | llm
)

In [60]:
full_chain.invoke({'question' : "How many medium blue tshirts are there?"})

'There is 1 medium blue tshirt.'